numpy~=2.1.2
scipy~=1.14.1
sympy
pyarrow
pandas~=2.2.3
pandasql
statsmodels~=0.14.4
scikit-learn~=1.5.2
scikit-optimize
matplotlib~=3.9.2
seaborn~=0.13.2
mlxtend
graphviz
pydot
jupyterlab
notebook
wandb

pingouin~=0.5.5
torch~=2.5.1
pillow~=11.0.0
torchvision~=0.20.1
tensorflow~=2.18.0